@import "src/style/mixins";
.pagination{
  display: flex;
  margin-bottom: 60px;
  justify-content: start;
  align-items: center;
  &{
    @media (max-width:800px) {
      justify-content: center;
    }
  }
}
