@import "src/style/mixins";

.moreOptions{
  padding: 20px 20px 30px 20px;
  background: #fff;
  width: 887px;
  border-radius: 10px;
  &{
    @media (max-width:800px) {
      width: auto;
    }
  }
  
  border-top: 1px solid rgba(78, 100, 249, 0.1);
  .selectSection{
    display: flex;
    align-items: center;
    &{
      @media (max-width:800px) {
        display: flex;
        flex-direction: column;
      }
    }
    .selectBlock{
      &{
        @media (max-width:800px) {
          margin-right: 0;
        }
      }
      
      .selectLabel{
        margin-bottom: 11px;
        @include text(14px, 500, 17px, #664EF9)
      }
      .select{
        width: 200px;
      }
    }
  }
}
