@import "../../../style/mixins";
.container{
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.titleSection{
  padding-top: 45px;
  padding-bottom: 57px;
  background: linear-gradient(90deg, rgba(148, 175, 255, 0.1) 0%, rgba(78, 100, 249, 0.1) 94.5%);
  .breadcrumbs{
    display: flex;
    align-items: center;
    @include text(14px, 400, 14px, #686868);
    svg{
      margin-right: 7px;
    }
  }
  .catalogTitle{
    @include text(25px, 700, 25px, #1E2123);
    margin-top: 30px;
  }
  .recommendationsTitle{
    @include text(16px, 500, 15px, #1E2123);
    margin-top: 40px;
    margin-bottom: 4px;
  }
}

.catalogRecommendations{
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
}
