@import "src/style/mixins";
.mainRegistration{
  background: url("../../assets/img/bg-404.webp"), linear-gradient(0deg, #7E6AF3 1.04%, #6540CD 100%) no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .registration{
    background: #FFFEFE;
    box-shadow: 0 20px 40px rgba(39, 95, 158, 0.2);
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 844px;
    flex-wrap: wrap;
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        @include text(25px, 700, 30px, #000);
        margin-bottom: 30px;
      }
      .inputBlock{
        position: relative;
        margin-bottom: 20px;

        input {
          width: 306px;
          height: 47px;
          background: #F8F8F8;
          border-radius: 30px;
          outline-color: #664EF9;
          padding-left: 55px;
          border: 1px solid #F8F8F8;
          @include text(14px, 500, 17px, #686868);
          //.inputBlock svg path &:focus {
          //  fill: #664EF9;
          //}
        }

        svg {
          position: absolute;
          top: 25%;
          left: 7%;
        }
      }
      .inputBlockError{
        position: relative;
        margin-bottom: 20px;
        input {
          width: 306px;
          height: 47px;
          background: #F8F8F8;
          border-radius: 30px;
          outline-color: #664EF9;
          padding-left: 55px;
          @include text(14px, 500, 17px, #686868);
          border: 1px solid red;
          //.inputBlock svg path &:focus {
          //  fill: #664EF9;
          //}
        }
        svg {
          position: absolute;
          top: 25%;
          left: 7%;
        }
        .registerErrorIcon{
          left: 85%;
        }
      }
      .errorBlock{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EB5757;
        border-radius: 33px;
        padding: 12px 80px;
        @include text(16px, 700, 24px, #fff);
        margin-bottom: 20px;
        svg{
          margin-left: 10px;
        }
      }
      button{
        background: #FFD54F;
        border-radius: 33px;
        padding: 12px 70px;
        border: none;
        @include text(16px, 700, 24px, #1E2123);
        cursor: pointer;
        &:hover{
          background-color: #FEC100;
        }
      }
    }
    .textBlock{
      margin-top: 50px;
      h2{
        margin-top: 0;
        @include text(14px, 600, 21px, #686868);
        margin-bottom: 0;
        text-align: start;
      }
      ul{
        max-width: 388px;
        li{
          list-style: inside;
          @include text(14px, 400, 21px, #686868);
          &::marker{
            color: #686868;
          }
        }
      }
      .toLoginSection{
        display: flex;
        align-items: center;
        margin-top: 70px;
        p{
          @include text(14px, 400, 20px, #686868);
        }
        a{
          @include text(14px, 500, 26px, #664EF9);
          margin-left: 5px;
        }
      }
    }
  }
}
