@import "src/style/mixins";

.newsSection{
  display: flex;
  margin-bottom: 109px;
  justify-content: space-between;
  .textBlock{
    width: 48vw;
    .header{
      strong{
        background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include text(14px, 600, 17px, #000);
      }
      p{
        margin-top: 15px;
        @include text(25px, 700, 30px, #1E2123);
      }
    }
    .body{
      margin-top: 33px;
      position: relative;
      display: flex;
      .yellowPoints{
        position: absolute;
        z-index: 2;
        bottom: -20px;
        left: 37%;
      }
      .bodyImg{
        filter: drop-shadow(0px 15px 30px rgba(39, 95, 158, 0.1));
        border-radius: 20px;
      }
      .bodyText{
        margin-left: 24px;
        p{
          @include text(14px, 600, 21px, #1E2123);
          &:first-child{
            margin-bottom: 33px;
          }
          b{
            line-height: 24px;
          }
        }

      }
    }
    .footer{
      @include text(16px, 400, 21px, #1E2123);
      margin-top: 31px;
    }
  }
  .newsBlock{
    background: #FFFEFE;
    box-shadow: 0 20px 40px rgba(135, 124, 202, 0.15);
    border-radius: 10px;
    padding: 33px 23px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    .title{
      margin-bottom: 16px;
      @include text(25px, 700, 30px, #1E2123);
    }
    .post{
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(102, 78, 249, 0.1);
      &:last-of-type{
        border: none;
      }
      a{
        @include text(14px, 600, 17px, #1E2123);
        &:hover{
          color: #664EF9;
        }
      }
    }
    .toNewsLink{
      display: flex;
      align-items: center;
      margin-top: 22px;
      @include text(14px, 700, 17px, #664EF9);
      svg{
        margin-left: 12px;
      }
    }

  }
}
