@import "../../../style/mixins";
.contactsForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #FFFEFE;
  box-shadow: 0 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;
  min-width: 652px;
  height: 537px;
  padding: 40px 37px 44px 38px;
  button{
    background: #664EF9;
    border-radius: 33px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 11vw;
    @include text(16px, 700, 24px, white);
    &:hover{
      background-color: #612BFB;
    }
  }
}

.nameAndEmailInputs{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}


.inputBlock{
  position: relative;
  label{
    cursor: pointer;
    position: absolute;
    top: -35px;
    @include text(14px, 500, 17px, #686868)
  }
  input{
    width: 268px;
    height: 47px;
    background: #F8F8F8;
    border-radius: 30px;
    border: 1px solid transparent;
    outline-color: #664EF9;
    padding-left: 55px;
    @include text(14px, 500, 17px, #686868);
  }
  input:focus-visible + svg{
    path{
      fill: #664EF9;
    }
  }
  svg{
    position: absolute;
    top: 25%;
    left: 7%;
  }
  textarea {
    width: 576px;
    height: 200px;
    padding: 15px 20px;
    @include text(14px, 500, 17px, #686868);
    background: #F8F8F8;
    border-radius: 30px;
    border: 1px solid transparent;
    outline-color: #664EF9;
    resize: none;
  }
  .registerErrorIcon{
    left: 85%;
    opacity: 0;
  }
}


.inputBlockError{
  position: relative;
  label{
    cursor: pointer;
    position: absolute;
    top: -35px;
    @include text(14px, 500, 17px, #686868)
  }
  input {
    width: 14vw;
    height: 47px;
    background: #F8F8F8;
    border-radius: 30px;
    outline-color: #664EF9;
    padding-left: 55px;
    @include text(14px, 500, 17px, #686868);
    border: 1px solid red;
  }
  input:focus-visible + svg{
    path{
      fill: #664EF9;
    }
  }
  svg {
    position: absolute;
    top: 25%;
    left: 7%;
  }
  .registerErrorIcon{
    left: 85%;
    opacity: 1;
  }
  textarea {
    width: 30vw;
    height: 200px;
    padding: 15px 20px;
    @include text(14px, 500, 17px, #686868);
    background: #F8F8F8;
    border-radius: 30px;
    border: 1px solid red;
    outline-color: #664EF9;
    resize: none;
  }
}


.errorBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB5757;
  border-radius: 33px;
  padding: 12px 15px;
  width: 306px;
  text-align: center;
  @include text(16px, 700, 24px, #fff);
  svg{
    margin-left: 10px;
  }
}
