@import "src/style/mixins";
.seeAlso{
  background-color: rgba(148, 175, 255, 0.18);
}

.container{
  max-width: 1410px;
  margin: 0 auto;
  padding: 62px 15px 100px 15px;
  h2{
    text-align: start;
    @include text(25px, 700, 30px, #1E2123);
    margin-bottom: 15px;
  }
  .seeAlsoPostsBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
