@import "src/style/mixins";
.mainNewPage{
  max-width: 870px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  h1{
    @include text(30px, 700, 30px, #1E2123);
    margin-top: 25px;
  }
  .imgBlock{
    display: flex;
    justify-content: center;
  }
  .description{
    @include text(16px, 400, 24px, #1E2123);
    margin-bottom: 65px;
  }
}

.breadcrumbs{
  display: flex;
  align-items: center;
  margin-top: 60px;
  a{
    margin-left: 8px;
    margin-right: 8px;
    @include text(14px, 400, 14px, #4E64F9);
  }
  p{
    margin-left: 8px;
    margin-right: 8px;
    @include text(14px, 400, 14px, #686868);
  }
}

.dateAndSocialBlock{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .date{
    background: rgba(102, 78, 249, 0.1);
    border-radius: 18px;
    padding: 12px 16px;
    @include text(14px, 500, 17px, #664EF9)
  }
}
