@import "src/style/mixins";

@media (max-width:1000px){
  .footer{
    display: none;
  }
}

.footer{
  background-color: white;
  box-shadow: 0px -11px 40px rgba(39, 95, 158, 0.05);
  position: relative;
  z-index: 1;
  .container{
    max-width: 1410px;
    padding: 40px 15px 53px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  //align-items: center;
  .logoSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    p{
      @include text(11px, 400, 13px, #8291A3)
    }
  }
  .mainSection{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    nav{
      display: flex;
      justify-content: space-between;
      width: 70%;
      li{
        @include text(14px, 400, 17px, #8291A3);
        margin-top: 4px;
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
        a{
          @include text(14px, 400, 17px, #8291A3);
        }
        b{
          margin-top: 21px;
          @include text(14px, 700, 17px, #1E2123)
        }
      }
      .filterNav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 90px;
        min-width: 559px;
      }
    }
    .socialPaySection{
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      width: 68%;
      .socialBtns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 250px;
        p{
          @include text(14px, 500, 17px, #1E2123)
        }
      }
      .payCardsSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 339px;
      }
    }
  }
}
