@import "src/style/mixins";
.productTiles{
  margin-top: 10px;
  margin-bottom: 86px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productList{
  margin-top: 10px;
  margin-bottom: 86px;
  display: flex;
  flex-direction: column;
}
.productListTitle{
  text-align: start;
  @include text(20px, 700, 20px, #1E2123);
  margin-bottom: 40px;
  margin-top: 83px;
}
