@import "./style/mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
  scroll-behavior: smooth;
}
.App{
  overflow: hidden;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}

body{
}
.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.modalTitle{
  @include text(25px, 700, 30px, #000000);
}
.modalBody{
  @include text(14px, 400, 17px, #686868);
  margin-top: 20px;
  margin-bottom: 30px;
}
.modalButton{
  background: #FFD54F;
  border-radius: 33px;
  padding: 12px 24px;
  @include text(16px, 700, 24px, #1E2123);
  cursor: pointer;
  border: none;

}

