@import "./style/mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
  scroll-behavior: smooth;
}
.App{
  overflow: hidden;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
}

//post animation
.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}


//tabs
.react-tabs__tab-list{
  display: flex;
}
.react-tabs__tab{
  background: rgba(45, 57, 136, 0.5);
  @include text(14px, 600, 17px, #fff);
  padding: 13px 20px;
  cursor: pointer;
  outline: none;

  &:last-of-type{
    border-radius: 0 10px 0 0;
  }
  &--selected{
    background-color: #fff;
    color: #664EF9;
    border-radius: 10px 10px 0 0;
  }
}
.react-tabs__tab-panel{
  background: #FFFFFF;
  border-radius: 0 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
