@import "./style/mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
  scroll-behavior: smooth;
}
.App{
  overflow: hidden;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}

body{
}
.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

