@import "src/style/mixins";


.select{
  position: relative;
  width: 150px;
  .changeBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
    border: 2px solid #F8F8F8;
    border-radius: 20px;
    padding: 9px 12px;
    cursor: pointer;
    width: 100%;
    &:hover{
      background: rgba(102, 78, 249, 0.1);
    }
    div{
      display: flex;
      svg{
        margin-right: 8px;
      }
    }
    p{
      @include text(14px, 500, 17px, #686868)
    }
  }
  .changeBlockActive{
    border: 2px solid rgba(102, 78, 249, 0.8);
    background: rgba(102, 78, 249, 0.1);
  }
  .optionsBlock{
    position: absolute;
    top: 47px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding: 3px;

    button{
      padding: 10px 15px;
      width: 100%;
      text-align: start;
      cursor: pointer;
      background: #FFFFFF;
      border: none;
      @include text(14px, 500, 17px, #1E2123);
      &:hover{
        background: #F8F8F8;
      }
    }
  }
}

